# Evaluating regression #

Let's have a look at how to evaluate our linear model.

In [13]:
import seaborn as sns
import sklearn as sk
import pandas as pd
import matplotlib.pyplot as plt
import math
from sklearn.linear_model import LinearRegression #remember, this is linear regression model from sk-learn
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [14]:
df = pd.read_csv('funda.csv')
df.head()

,id,address,area,bedrooms,postal_code,posting_date,price,property_type,rooms,sale_date,url,year_built
0,0,Knollendamstraat 4 III/IV,108,2,1013 TN,4-6-2016,510000,apartment,3,23-6-2016,http://www.funda.nl/koop/verkocht/amsterdam/ap...,1906
1,1,Moerdijkstraat 47 1,47,1,1079 XM,22-6-2016,215000,apartment,2,5-7-2016,http://www.funda.nl/koop/verkocht/amsterdam/ap...,1938
2,2,Zeeburgerdijk 349,116,2,1095 AD,9-6-2016,325000,apartment,3,8-7-2016,http://www.funda.nl/koop/verkocht/amsterdam/ap...,2003
3,3,Brederodestraat 124 -1,58,2,1054 VH,14-5-2016,315000,apartment,3,2-6-2016,http://www.funda.nl/koop/verkocht/amsterdam/ap...,1910
4,4,Admiraal De Ruijterweg 409 III,63,1,1055 MD,14-6-2016,200000,apartment,3,23-6-2016,http://www.funda.nl/koop/verkocht/amsterdam/ap...,1906

We need to remove the strange values again, keep only:

* Price above 30,000
* Area above 10 m2

In [15]:
df = df[(df['price'] > 30000) & (df['area'] > 10)] #we want to subset the original dataset, otherwise we lose data

## Simple linear regression ##

First we will split the data in a training set and test set

In [16]:
from sklearn.model_selection import train_test_split #this is the function we need to split the data

x = df[['area']] #get the area's
y = df['price'] #get the prices

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3) #splits the data into train (70%) and test (30%) data

1. Now we will fit the model again but this time only for the training data. You can use x_train and y_train instead of x and y

In [18]:
lm = LinearRegression()
lm = lm.fit(x_train, y_train)

In [20]:
y_test_p = lm.predict(x_test)

2. Now let's calculate the predictions for the test data only (add it to a variable y_test_p). The test data was never used in training, so for the model this is completely new data.

r2_score(y_test, y_test_p)

3. Finally calculate the R^2 and RMSE, *using the test data*. Again, the test data was never used in training, so for the model this is completely new data. The model doesn't have the advantage of being trained on the data already. So it's a fair test for the model.

4. What would happen if we used all the data instead of the train/test split? We expect the prediction to be (slightly) better.

In [21]:
lm2 = LinearRegression()
lm2 = (x, y) 
y_p = lm2.predict(x)
r2_score(y, y_p)

AttributeError: 'tuple' object has no attribute 'predict'